/* You should edit the content below to fit your website */

* {
	font-family: Georgia, serif;
	margin:  0;
	padding: 0;
	color:  #22223B;

}

header {
	text-align: center;
	margin-top: 20px;
}
nav {
	padding: 10px;
	margin: 10px;
	text-align: center;
}

li {
	display: inline;
	padding: 10px;

}
body {
	background: #F2E9E4;
	width: 980px;
	margin: 0 auto;
}

section {
	border-style: solid;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 30px;
}


h2 {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

 footer {
	padding: 10px;
	margin: 10px;
}